/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.red-text {
    color: #FC6D6D;
}

/* Header CSS */
header {
    background: #343F4F;
}

/* Navbar CSS */
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FC6D6D;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FC6D6D;
}

/* Typing Text CSS */
.typing-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    display: flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
      top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 80px;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}
  
@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }

    100%{
      left: 0;
    }
}

/* For Brand Logo */
.brand-logo {
    width: 40px;
    margin-right: 20px;
}

/* For Down Arrow Animation */
.down-arrow {
    animation-iteration-count: infinite !important;
    animation-duration: 1s;
    transform-origin: bottom;
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
